@font-face {
	font-family: 'latolight';
	src: url('../../fonts/lato-light-webfont.woff2') format('woff2'),
		 url('../../fonts/lato-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latoblack';
	src: url('../../fonts/lato-black-webfont.woff2') format('woff2'),
		 url('../../fonts/lato-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latothin';
	src: url('../../fonts/lato-thin-webfont.woff2') format('woff2'),
		 url('../../fonts/lato-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

* {
	vertical-align: top;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}


input[type="submit"]::-moz-focus-inner {border: none;}
html, body{height:100%; width:100%; margin:0; padding:0;}

body {
	font-family: 'latolight', Arial, sans-serif;
	font-size: 22px;
	color: #999999;
	line-height: 1;
	background: #fff;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
}

p {

}

a {
	font-family: inherit;
	font-size: inherit;
	color: #ec0080;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

ul, ul li {

}

ul {

}

ul li {

}

ul li a{

}

ol {

}

ol li {

}

input[type="text"],
input[type="password"] {

}

address {
	font-style: normal;
}

.pageWrapper {
	height: 100%;
	width: 100%;
}

.btnRegistration {
	display: flex;
	justify-content: center;
}

.btnRegistration a {
	display: block;
	width: 214px;
	height: 48px;
	line-height: 48px;
	border: 1px solid #ec0080;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s linear;
}

.btnRegistration a:hover {
	background: #ec0080;
	color: #fff;
}

.txt {
	max-width: 530px;
	text-align: center;
	padding: 0 10px 70px 10px;
	line-height: 1.4;
	margin: 0 auto;
}

.subtitleSection {
	font-family: 'latoblack';
	color: #000;
	text-align: center;
	padding-bottom: 22px;
}

/*****************/
/******HEADER*****/
/*****************/

.header {
	padding: 150px 0 650px 0;
	background: url('../img/header2.svg') no-repeat center bottom;
	background-size: auto 825px;
	margin-bottom: -170px;
}

.rowHeader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	width: 100%;
	background: #fff;
	display: flex;
}

.rowHeader:after {
	content: '';
	position: absolute;
	left: 97px;
	right: 104px;
	bottom: 0;
	height: 1px;
	background: #cccccc;
}

.btnBuyTicket {
	margin-left: auto;
}

.mainMenu {

}

.mainMenu ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.mainMenu ul li {
	padding: 0;
	margin: 0;
}

.mainMenu ul li a,
.btnBuyTicket a {
	display: block;
	text-decoration: none;
	height: 60px;
	line-height: 60px;
	padding: 0 37px;
	position: relative;
}

.mainMenu ul li a:after,
.btnBuyTicket a:after {
	content: '';
	width: 5px;
	height: 5px;
	background: #000;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	bottom: -2px;
	margin-left: -2.5px;
	z-index: 2;
}

.mainMenu ul li.act a:after {
	width: 9px;
	height: 9px;
	background: #ec0080;
	bottom: -4px;
	margin-left: -4.5px;
}

.logo {
	padding: 0 0 42px 0;
	display: flex;
	justify-content: center;
	text-align: center;
}

.logo a {
	font-family: 'latoblack';
	font-size: 75px;
	color: #000;
	text-decoration: none;
	letter-spacing: -1.3px;
	line-height: 60px;
}

.locationHeader,
.siteDescription {
	width: 660px;
	margin: 0 auto;
	line-height: 1.2;
	text-align: center;
	position: relative;
}

.locationHeader {
	padding-bottom: 15px;
	margin-bottom: 13px;
}

.locationHeader:after {
	content: '';
	display: block;
	height: 1px;
	background: #cccccc;
	position: absolute;
	left: 6%;
	right: 6%;
	bottom: 0;
}

.locationHeader:before {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	background: #000;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	bottom: -2px;
	margin-left: -2.5px;
	z-index: 2;
}

.header .btnRegistration {
	margin-top: 30px;
}

/*****************/
/*****CONTENT*****/
/*****************/

.main {

}

.content {

}

.section {

}

.titleSection {
	font-family: 'latothin';
	font-size: 60px;
	color: #000;
	text-align: center;
	padding-bottom: 30px;
}

.contentSection {
	max-width: 1280px;
	margin: 0 auto;
}


/*****SPEAKERS*****/
.sectionSpeakers {
	position: relative;
	z-index: 3;
}

.sectionSpeakers .contentSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 15px 0 30px 0;
	max-width: 1000px;
}

.sectionSpeakers .contentSection .item {
	margin: 0 25px 30px 25px;
	display: flex;
	width: 100%;
}

.sectionSpeakers .contentSection .item .photo {
	flex: 0 0 225px;
	margin-right: 20px;
	position: relative;
	align-self: flex-start;
}

.sectionSpeakers .contentSection .item .photo img {
	width: 100%;
	display: block;
}

.sectionSpeakers .contentSection .item .photo .social {
	position: absolute;
	left: 5px;
	bottom: 5px;
	background: #fff;
	font-size: 13px;
	line-height: 1.2;
	color: #000;
}

.sectionSpeakers .contentSection .item .photo .social {
	display: flex;
	align-items: center;
}

.sectionSpeakers .contentSection .item .photo .social a {
	margin: 5px;
	font-size: 18px;
}

.sectionSpeakers .contentSection .item .photo .social a img {
	width: 25px;
}


.sectionSpeakers .contentSection .item .data {
	flex: auto;
}

.sectionSpeakers .contentSection .item .data .theme {
	font-family: 'latoblack';
	color: #000;
	margin-bottom: 10px;
}

.sectionSpeakers .contentSection .item .data .name {
	font-size: 17px;
	margin-bottom: 10px;
	color: #000;
	font-family: Arial;
}

.sectionSpeakers .contentSection .item .data .description,
.sectionSpeakers .contentSection .item .data .about {
	font-size: 13px;
	line-height: 1.2;
	color: #000;
	margin-bottom: 15px;
}


/*****AGENDA*****/
.sectionAgenda {

}

.sectionAgenda .contentSection {
	margin-bottom: 90px;
}

.sectionAgenda .contentSection .categoryAgenda {
	margin-bottom: 35px;
}

.sectionAgenda .contentSection .item {
	width: 900px;
	margin: 0 auto;
	display: flex;
	padding: 4px 0;
}

.sectionAgenda .contentSection .item .time {
	flex: 0 0 75px;
	padding-left: 35px;
}

.sectionAgenda .contentSection .item .title {
	flex: 0 0 250px;
	padding-right: 5px;
	position: relative;
	z-index: 2;
}

.sectionAgenda .contentSection .item.secondaryItem {
	color: #ccc;
}

.sectionAgenda .contentSection .item .title span {
	background: #fff;
	padding-right: 10px;
}

.sectionAgenda .contentSection .item .description {
	flex: auto;
	padding-left: 15px;
	position: relative;
}

.sectionAgenda .contentSection .item .description:after {
	content: '';
	position: absolute;
	right: 100%;
	top: 0.5em;
	margin-top: 1px;
	width: 240px;
	height: 1px;
	background: #999999;
	display: block;
	margin-right: 5px;
}


/*****PARTNERS*****/
.sectionPartners {

}

.sectionPartners .contentSection {
	padding: 0 0 37px 0;
}

.sectionPartners .contentSection .categoryPartners {
	
}

.sectionPartners .contentSection .categoryPartners .contentCategoryPartners {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
}

.sectionPartners .contentSection .categoryPartners .contentCategoryPartners a {
	display: block;
	margin: 0 27px 27px 27px;
	opacity: 0.9;
	transition: all .15s linear;
}

.sectionPartners .contentSection .categoryPartners .contentCategoryPartners a:hover {
	transform: scale(1.05);
	opacity: 1;
}


/*****CONTACTS*****/
.sectionContacts {

}

.sectionContacts .contentSection {
	text-align: center;
	line-height: 1.4;
	margin-bottom: 70px;
}


/*****SOCIAL*****/
.sectionSocial {

}

.sectionSocial .contentSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
}

.sectionSocial .contentSection a {
	display: block;
	margin: 0 27px 27px 27px;
	transition: all .15s linear;
}

.sectionSocial .contentSection a:hover {
	transform: scale(1.05);
	opacity: 1;
}

.sectionSocial .contentSection a img {
	width: 80px;
	padding-bottom: 20px;
}




/*****LOCATION*****/
.sectionLocation {

}

.sectionLocation .contentSection {
	text-align: center;
	line-height: 1.4;
	margin-bottom: 70px;
}

.sectionLocation .contentSection .btnRegistration {
	margin-top: 60px;
}

.mapCanvas {
	height: 500px;
}

/*****FOOTER*****/
.footer {
	
}

.footer .footMenu ul {
	color: blue;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.footer .footMenu ul li {
	margin: 0;
	padding: 20px;
}

.footer .footMenu ul li a {
	text-decoration: none;
	cursor: pointer;
}



@media screen and (max-width: 1150px) {
	body {
		font-size: 15px;
	}
	.header {
		padding: 75px 0 300px 0;
		background-size: auto 412px;
		margin-bottom: -115px;
	}
	.rowHeader:after {
		left: 65px;
		right: 70px;
	}
	.mainMenu ul li a,
	.btnBuyTicket a {
		height: 40px;
		line-height: 40px;
		padding: 0 20px;
	}
	.locationHeader,
	.siteDescription {
		width: 450px;
	}
	.locationHeader {
		padding-bottom: 15px;
	}
	.logo {
		padding: 0 0 28px 0;
	}
	.logo a {
		font-size: 50px;
		letter-spacing: -0.8px;
		line-height: 40px;
	}

	.titleSection {
		font-size: 40px;
		padding-bottom: 20px;
	}

	.sectionSpeakers .contentSection {
		padding: 10px 0 20px 0;
	}
	.sectionSpeakers .contentSection .item {
		
	}
	.sectionSpeakers .contentSection .item .photo {
		margin-bottom: 18px;
	}
	.sectionSpeakers .contentSection .item .name {
		margin-bottom: 5px;
	}

	.sectionAgenda .contentSection {
		margin-bottom: 60px;
	}
	.sectionAgenda .contentSection .item {
		padding: 3px 0;
		width: 500px;
	}
	.sectionAgenda .contentSection .item .time {
		flex: 0 0 50px;
		padding-left: 20px;
	}
	.sectionAgenda .contentSection .item .title {
		flex: 0 0 175px;
	}
	.sectionAgenda .contentSection .item .description {
		
	}
	.sectionAgenda .contentSection .item .description:after {
		width: 175px;
	}

	.sectionPartners .contentSection {
		padding: 0 0 25px 0;
	}
	.sectionPartners .contentSection .categoryPartners .contentCategoryPartners a {
		margin: 0 18px 18px 18px;
	}

	.sectionLocation .contentSection {
		margin-bottom: 45px;
	}

	.sectionLocation .contentSection .btnRegistration {
		margin-top: 40px;
	}

	.btnRegistration a {
		height: 36px;
		line-height: 36px;
		width: 190px;
	}
	.mapCanvas {
		height: 300px;
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding: 75px 0 260px 0;
		background-size: auto 360px;
		margin-bottom: -105px;
	}
	.logo {
		padding: 0 0 40px 0;
	}
	.logo a {
		font-size: 42px;
	}
	.rowHeader {
		display: none;
	}
	.locationHeader,
	.siteDescription {
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}

	.sectionSpeakers .contentSection .item {
		flex-direction: column;	
	}

	.sectionSpeakers .contentSection .item .photo {
		width: 200px;
		flex: none;
	}

	.sectionAgenda .contentSection .item {
		display: block;
	}
	.sectionAgenda .contentSection .item .time {
		float: left;
	}

	.sectionAgenda .contentSection .item .title {
		margin-left: 75px;
	}
	.sectionAgenda .contentSection .item .description {
		margin: 5px 25px 10px 75px;
		padding-left: 0;
	}
	.sectionAgenda .contentSection .item .description:after {
		display: none;
	}
	.sectionAgenda .contentSection .item {
		max-width: 290px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.sectionPartners .contentSection .categoryPartners .contentCategoryPartners a {
		margin: 0 12px 12px 12px;
	}
	.mapCanvas {
		height: 200px;
	}
}